/****************** color shades **************************
* theme-color: #67E6EC;
* deep blue: #00688B
***********************************************************/

/****************** site wide styles *********************/

.site-width {
	max-width: 1060px;
}

/************************ backgrounds ***************************/

.bg-light-grey {
	background-color: #dddddd;
}

.clickable {
	cursor: pointer;
}

/***************** different font sizes and styles *****************/

.head1 {
	font-size: 32px;
	font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
}

.head2 {
	font-size: 24px;
	font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
}

.italics {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.font-color {
	color: #00688B;
}

.width-auto {
	width: 100%;
}

/***************** custom elements in page *****************/

.round-box {
	background-color: #999999;	
	color: #ffffff;
	font-weight: bold;
	padding: 5px 10px;
	border-radius: 5px;
}

.bookmark-box {
	border: solid 1px #999999; 
	border-radius: 5px;	
	height: 450px;
	overflow-y: auto;
}

.selected-word-container {
	border: dotted 2px #999999; 
	border-radius: 10px;		
	padding: 3px 15px;
	width: 100%;
}

.table-height {
	height: 400px; 
	overflow-y: auto;
}

/****************** floats, padding, margins and borders ********************/

.float-right {
	float: right;
}

.padding-all {
	padding: 10px;
}

.margin-up {
	margin: 5px 0 0 0;
}

.margin-top {
	margin-top: 10px;
}

.margin-bottom {
	margin-bottom: 10px;
}

.margin-bottom-negetive {
	margin-bottom: -10px;
}

.border-bottom {
	border-bottom: solid 3px #999999;
}

.border-bottom-grey {
	border-bottom: solid 1px #999999;
}

.border-bottom-grey:last-child {
	border-bottom: none;
}

.border-left {
	border-left: solid 3px #999999;
}